<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista de peliculas</span>
      <button class="btn btn-dark btn-lg add" routerLink="/create-movie">Agregar</button>
      <h5 class="h5" *ngIf="movies.length === 0">No hay datos para mostar</h5>
      <table *ngIf="movies.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>ID</th>
            <th>TITULO</th>
            <th>AÑO</th>
            <th>DURACION</th>
            <th>LENGUAJE</th>
            <th>ESTRENO</th>
            <th>PAIS</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <th>{{movie.id}}</th>
            <td>{{movie.titulo}}</td>
            <td>{{movie.ano}}</td>
            <td>{{movie.duracion}}</td>
            <td>{{movie.language}}</td>
            <td>{{movie.estreno}}</td>
            <td>{{movie.pais}}</td>
            <td>
              <i class="fas fa-edit fa-lg text-info edit" [routerLink]="['/edit-movies/:id', movie.id]"></i>
              <i (click)="deleteMovie(movie.ID)" class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>